.container
    .jumbotron
        h1 MultiVision
        p Welcome to MultiVision ! The most complete online eductaion platform !!
    
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
            